@import '../../../static/common/base.scss';
.intro-chapter-container{
    background-color: #fff;
    @extend .flex-o;
    @extend .flex-direction-o;
    @extend .flex-1;
    margin-top:0.1rem;
    .intro-chapter-tab{
        @extend .flex-o;
        @extend .flex-direction-r;
        @extend .align-items-c;
        position: relative;
        height: 1rem;
        border-bottom:1px solid #ddd; 
        span{
            height: 1rem;
            width: 50%;
            line-height: 1rem;
            text-align: center;
            font-size: 30px;
            color: #333;
        }
        .intro-active{
            color: #007fff;
        }
        i{
            position: absolute;
            width: 50%;
            height: 0.0533rem;
            background-color: #007fff;
            z-index: 10;
            bottom: 0px;
            left: 0px;
        }
        .i-active{
            left:50%;
        }
    }
    .intro-chapter-swiper{
        border-bottom:1px solid #ddd; 

       .chapter-scroll{
           overflow-y: auto;
           .chapter-item{
                @extend .flex-o;
                @extend .flex-direction-r;
                @extend .align-items-c;
                color: #b5b5b5;
                padding: 0 0.4rem;
                .flag-qid{
                    font-size: 24px;
                    width: 0.573rem;
                    text-align: center;
                    margin-right: 0.2267rem;
                }
                .flag-qid-right{
                    @extend .flex-1;
                    border-bottom:1px solid #ddd; 
                    padding: 0.2667rem 0px;
                    @extend .flex-o;
                    @extend .flex-direction-r;
                    @extend .align-items-c;
                    @extend .justify-content-b;
                    .flag-qid-title{
                        line-height: 0.6rem;
                        font-size: 30px;
                        color: #000;
                    }
                    .chapter-status{
                        line-height: 0.5067rem;
                        font-size: 22px;
                        span{
                            margin-right: 0.4rem;
                        }
                    }
                    .chapter-is-pay{
                        width: 1.2rem;
                        height: 0.533rem;
                        line-height: 0.533rem;
                        text-align: center;
                        font-size: 26px;
                    }
                    .try{
                        border: 1px solid #ff7600;
                        color: #ff7600;
                        @include radius(4px);
                    }
                }
           }
       }
    }
}
@import '../../../static/common/markdown.scss';