@import '../../../static/common/base.scss';
.chapter-container{
    width: 100%;
    height: 100%;
    @extend .flex-o;
    @extend .flex-direction-o;
    position: absolute;
    top: 0px;
    z-index: 1000;
    background-color: #fff;
    .chapter-scroll-container{
        @extend .flex-1;
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        .no-pay-container{
            @extend .flex-o;
            @extend .flex-direction-o;
            @extend .justify-content-c;
            @extend .align-items-c;
            height: 100%;
        }
        .pay-btn{
            height: 0.8rem;
            width: 2rem;
            text-align: center;
            font-size: 26px;
            line-height:  0.8rem;
            @include radius(0.4rem);
            color: #fff;
            background-color: #007fff;
            position: fixed;
            bottom: 2rem;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .chapter-content-footer{
        width: 100%;
        height: 1.32rem;
        border-top:1px solid #ddd;
        @extend .flex-o;
        @extend .flex-direction-r;
        @extend .justify-content-b;
        i{
            font-size: 0.5rem;
            width: 20%;
            text-align: center;
            line-height: 1.32rem;
        }
        i:nth-child(2){
            color: #007fff;
        }
        .active{
            color: #007fff;
        }
    }
}
@import '../../../static/common/markdown.scss';