@import '../../../static/common/base.scss';
.header-top{
    height: 1.2rem;
    border-bottom: 1px solid #ddd;
    overflow-y: hidden;
    overflow-x: auto;
    @include boxShadow(0px,5px,10px,#ddd);
    background-color: #fff;
    ul{
        display: inline;
        white-space: nowrap;
        li{
            padding: 0.42rem 0.33rem;
            display: inline-block;
            font-size: 30px;
        }
    }
}
.active{
    color: #007fff;
    font-weight: bold;
}