@import '../../../static/common/base.scss';
.footer-bottom{
    height: 1.267rem;
    border-top:1px solid #ddd;
    ul{
        @extend .flex-o;
        @extend .flex-direction-r;
        @extend .justify-content-s;
        @extend .align-items-c;
        height: 100%;
        @include boxShadow(0px,-5px,10px,#ddd);
        li{
            display: inline-block;
            padding: 0 1rem;
            .tab-i{
                display: block;
                width: 0.64rem;
                height: 0.64rem;
                font-size: 0.64rem;
            }
            .tab-text{
                display: block;
                line-height: 0.5rem;
                font-size: 22px;
                text-align: center;
            }
        }
    }
}
.active{
    color: #007fff;
    font-weight: bold;
}