@import '../../../static/common/base.scss';
.footer-bottom{
    height: 1.267rem;
    border-top:1px solid #ddd;
    ul{
        @extend .flex-o;
        @extend .flex-direction-r;
        @extend .justify-content-s;
        @extend .align-items-c;
        height: 100%;
        li{
            display: inline-block;
            .tab-img{
                display: block;
                width: 0.64rem;
                height: 0.64rem;
            }
            .tab-img[data-index="0"]{
                background: url("../../../static/img/book.png") no-repeat center;
                background-size: cover;
            }
            .tab-img[data-index="1"]{
                background: url("../../../static/img/shelf.png") no-repeat center;
                background-size: cover;
            }
            .tab-img[data-index="2"]{
                background: url("../../../static/img/my.png") no-repeat center;
                background-size: cover;
            }
            .tab-text{
                display: block;
                line-height: 0.5rem;
            }
        }
    }
}
.active{
    color: #007fff;
    font-weight: bold;
}