@import '../../../static/common/base.scss';
.img-container{
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
    top:0px;
    display: none;
}
.animate{
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
 }
 .m-pic-cover{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    height: 100%;
 }
 .m-pic-content{
    width: 100%;
    height: auto;
    overflow: hidden;
    text-overflow: ellipsis;
 }