@import '../../../static/common/base.scss';
.tips-container{
    width: 100%;
    @extend .flex-1;
    @extend .flex-o;
    @extend .flex-direction-r;
    @extend .align-items-c;
    @extend .justify-content-c;
    .tip-container{
        width: 4.667rem;
        padding-top: 2rem;
        @extend .flex-o;
        @extend .flex-direction-o;
        @extend .align-items-c;
        @extend .justify-content-c;
        img{
            display: block;
            border: none;
            @include boxShadow(0,0,0.1rem,#bbb);
            width: 3.2rem;
            height: 4.44rem;
        }
        p{
            font-size: 30px;
            color: #666;
            text-align: center;
            line-height: 1rem;
        }
    }
}